*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 11.62px 15.36px;
    border-radius: 3.84px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.btn-2{
    background-color: #469165;
    border: none;
    padding: 15.46px;
    border-radius: 3.84px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    font-size: 15.36px;
    align-items: center;
    display: inline-flex;
    gap: 9.6px;
}

.btn-3{
    background-color: #469165;
    border: none;
    padding: 15.46px;
    border-radius: 3.84px;
    align-items: center;
    display: inline-flex;
    gap: 9.6px;
    font-weight: 600;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 9.6px 19.2px #0000002d;
}

nav{
    display: flex;
    gap: 332.5px;
    justify-content: center;
    max-width: 1305.6px;
    margin: 0 auto;
    width: 71%;
    align-items: center;
    padding: 15.36px 115.2px;
    white-space: nowrap;
}

nav .list{
    display: flex;
    list-style: none;
    gap: 30.72px;
    align-items: center;
    font-weight: 500;
}
nav .list a{
    text-decoration: none;
    color: #000000;
    font-size: 15.36px;
}

header #banner{
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 115.2px 172px;
    text-align: center;
}

#banner .top{
    margin-bottom: 15.36px;
    display: inline-flex;
    gap: 5px;
    border: 1px solid red;
    background-color: white;
    padding: 7.68px 11.52px;
    border-radius: 960px;
    color: #469165;
    font-size: 15.36px;
    font-weight: 500;
}
#banner .top img{
    width: 20px;
}
#banner h1{
   
   line-height: 80.6px;
   font-size: 70px;
   color: #FFFFFF;
   width: 770px;
   margin: 0 auto;
}

#banner h1 span{
    color: #30B868;
}

#banner p{
    margin-top: 15.36px;
    font-size: 17.28px;
    font-weight: 400;
    margin-bottom: 30.72px;
    color: #FFFFFF;
}

#banner p span{
    display: inline-block;
    line-height: 30px;
}

#banner .about{
    display: flex;
    justify-content: center;
    gap: 15.36px;
}

#banner .transparent{
    border: 1px solid #FFFFFF;
    padding: 14.5px;
    border-radius: 3.84px;
    font-size: 15.36px;
    font-weight: 600;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
}

#ideas .idea-all{
    background-color: #FFFFFF;
    max-width: 1305.6px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

#ideas .idea-all .heading{
    padding-bottom: 43px;
}

#ideas .idea-all .heading h1{
    font-size: 47px;
    color: #001931;
    font-weight: 600;
}

#ideas .idea-all .heading p{
    margin-top: 16px;
    color: #627382;
    font-style: 400;
    font-size: 14px;
}

#ideas .idea-all .idea-containers{
    display: flex;
    gap: 23.04px;
}

#ideas .idea-all .idea-containers .idea-info{
  border-radius: 7.68px;
  box-shadow: 0 0 7px #00000010;
  padding: 66.5px 23px;
}

#ideas .idea-all .idea-containers .idea-info img{
    border: 1px solid #F95555;
    background: #F95555;
    border-radius: 50%;
    padding: 13.5px;
    margin-bottom: 15.36px;
}

.idea-info h2{
    margin-bottom: 15.36px;
    font-size: 23px;
    font-weight: 600;
}

.idea-info p{
    font-size: 14px;
    font-weight: 400;
    color: #627382;
}

#more{
    padding: 115.2px;
}

#more .more-info{
    display: flex;
    align-items: center;
    gap: 57.6px;
    justify-content: center;
    max-width: 1305.6px;
    margin: 0 auto;
}

#more .more-info .top .head{
    color: #469165;
    font-weight: 500;
    font-size: 15.36px;
    padding-bottom: 15.36px;
}

#more .more-info .top h1{
    font-weight: 700;
    font-size: 47px;
    padding-bottom: 15.36px;
}

#more .more-info .top .detail{
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 38.4px;
    color: #627382;
}

#more .more-info .bottom p{
    margin-bottom: 15.36px;
}

#ready{
    padding: 0 115.2px 115.2px;
}

#ready .ready-think{
    background-color: #F7F6F2;
    text-align: center;
    padding: 76.8px 38.4px;
}

#ready .ready-think .think h1{
    font-weight: 700;
    font-size: 39px;
    padding-bottom: 15.36px;
}

#ready .ready-think .think p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 23.4px;
    color: #627382;
}

#ready .ready-think .access button{
    margin-bottom: 15.36px;
}

#ready .ready-think .access p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 23.4px;
    color: #627382;
}

footer{
    background-color: #001931;
    padding: 115.2px 115.2px 28.8px;
}

footer .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 76.8px;
}
footer .social{
    padding-right: 102px;
    color: #FFFFFF;
}

footer .social p{
    margin-top: 15.36px;
}

footer .copyright{
    color: #FFFFFF;
    text-align: center;
    padding-top: 28.8px;
    font-size: 14px;
}

.social i{
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 2px;
    margin-right: 13px;
    font-size: 13px;
}
hr{
    border: 0.2px solid #627382;
}

